p, h3, h2, h1, a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3, h2, h1, p {
	margin: 5px 0px;
}

.body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #f1f1f1;
	margin-top: -10px;
}

.wrapper {
	background-color: #ffffff;
	margin:-10px;
}

.navbar {
	background-color: #ffffff;
	width: 100%;
	height: 60px;
	margin: 0px;
	float: right;
}

.navbar ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.navbar li {
	float: left;
	width: 50%;
}

.navbar li a {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 18pt;
	display: block;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #fcfcfc;
	color: #00ced1;
}	
    
.masthead {
	background: url(pictures/chattanooga_web.png) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 520px;
	margin: auto;

}

.content {
	padding-top: 15px;
	background-color: #ffffff;
	width: 960px;
	height: 100%;  
	margin: auto;

}
