p h3 h2 h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0px;
}

.body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #ffffff;
	margin-top: -10px;
}

.wrapper {
	background-color: #f1f1f1;
	margin: -10px;
}

.navbar {
	background-color: #d7d7d7;
	width: 100%;
	height: 40px;
	margin: 0px;

}
    
.masthead {
	background-color: #c8c8c8;
	width: 980px;
	height: 480px;
	margin: auto;

}

.content {
	background-color: #ffffff;
	width: 980px;
	height: 100%;  
	margin: auto;

}
